.layout-gallery .gallery-showcase:after {
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
}

.layout-gallery .gallery-showcase.left .pgwSlider {
    float: left;
    margin-right: 4%;
    margin-bottom: 3%;
}

.layout-gallery .gallery-showcase.right .pgwSlider {
    float: right;
    margin-left: 4%;
    margin-bottom: 3%;
}